
html,body{
    background-color: #fff;
}

/*¬˝¬˝¬Ú’€ø€…Ã∆∑*/
body .mmm_goods{
    /*overflow: hidden;*/
}
.mmm_goods_wrap{
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    height: 288px;
    border-bottom: 1px solid #ccc;
    padding: 20px 8px 0 18px;
    overflow: hidden;
}
.mmm_goods_wrap:nth-child(2n+1){
    border-right: 1px solid #ccc;
}
.mmm_goods_wrap .goods_wrap_img{
    height: 140px;
    width: 140px;
    margin: 0 auto;
}
.mmm_goods_wrap p{
    color: #ff6c00;
    line-height: 35px;
}
.mmm_goods_wrap h4{
    color: #000;
    -webkit-line-clamp: 2;
}

