<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>慢慢买商品详情</title>
	<!-- 设置视口标签  让布局视口的大小等于手机设备的大小-->
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<link rel="stylesheet" href="css/base.css">
	<link rel="stylesheet" href="css/common.css">
	<link rel="stylesheet" href="css/details.css">
	<link rel="stylesheet" href="css/swiper.min.css">
</head>
<body>
	<!--這裡是錨鏈接-->
	<a id="mao1"></a>
	<!-- 公共的头部开始 -->
	<div class="header_warp">
		<div class="fl header_loge">
			<img src="imags/icon/header_logo.png">
		</div>
		<div class="fr header_download">
			<img src="imags/icon/header_app.png" alt="">
		</div>
	</div>
	<!--公共的搜索框区域-->
	<div class="search_header">
		<div class="search_frame clearfix">
			<input type="text" placeholder="请输入你想比价的商品" class="fl search_txt my__center_y">
			<div class="yuan_search_btn fr">
				<input type="button" value="搜索" class="search_btn my__center">
			</div>
		</div>
	</div>
	<!--三级导航开始-->
	<div class="three_nav">
		<a href="../Home/home.html">首页</a> > <a href="../category/category.html">全部分类</a> > <a href="javascript:void (0);"></a> >
	</div>
	<!--商品的详情开始-->
	<div class="main">
		<ul class="wares_warp clearfix">
		</ul>
	</div>
	<!--商品的页数-->
	<div class="page_wares clearfix">
		<!--<input type="button" value="上一页" class="fl previous">-->
		<a href="javascript:void (0)" class="fl previous">上一页</a>
		<!--<input type="button" value="下一页" class="fr next">-->
		<a href="javascript:void (0)" class="fr next">下一页</a>
		<select class="pulldown my__center" id="select">
			<option value ="1">1/3</option>
			<option value ="2">2/3</option>
			<option value ="3">3/3</option>
		</select>

	</div>
	<!--页面的页脚-->
	<!-- 底部部分 -->
	<footer>
		<div class="footer_t">
			<a href="javascript:;" class="login">登录</a>
			<a href="javascript:;" class="register">注册</a>
			<a href="#" class="return_top">
				<img src="images/top.jpg" alt="">
				返回顶部
			</a>
		</div>
		<div class="footer_b">
			<p>
				<a class="app_download" href="javascript:;">手机APP下载</a>
				<a class="mmb_mobile" href="javascript:;">慢慢买手机版</a>
				-- 掌上比价平台
			</p>
			<p>
                m.manmanbuy.com  
			</p>
		</div>
	</footer>

	<div class="popTip">
		
	</div>

<!-- 异步请求开始 -->
<script type="text/javascript" src="js/jquery.min.js"></script>
<script src=js/template-native.js></script>
<!--这里是商品的模板-->
<script type="text/template" id="list_items">
	<% for(var i = 0; i < item.length; i++){ %>
		<li class="wares">
			<div class="wares_img fl"><%=# item[i].productImg %></div>
			<div class="wares_introduce">
				<a href="introduction.html?productId=<%= item[i].productId %>"class="wares_title txt_cut"><%= item[i].productName %></a>
				<br/>
				<span class="wares_price"><%= item[i].productPrice %></span>
				<br/>
				<span class="offer"><%= item[i].productQuote %></span>
				<span class="comment"><%= item[i].productCom %></span>
			</div>
		</li>
	<% } %>
</script>
<script>
	$(function(){
		function query(url) {
		   var obj = {};
		   var str=url.split('?')[1];
		   var arr=str.split('=');
		   obj[arr[0]]=arr[1]?arr[1]:"";
		   return obj;
		}
		//获取当前页面的categoryid
		var categoryid = query(location.href)["categoryId"];
		// console.log(categoryid);

		//发起ajax请求，获得当前页面的category名称
		$.ajax({
			type: "get",
			url: "http://mmb.ittun.com/api/getcategorybyid?categoryid=" + categoryid,
			// url: "http://192.168.50.130:8002/api/getcategorybyid?categoryid=" + categoryid,
			dataType:'json',
			success:function(data){
				// console.log(data);
				var category = data.result[0]["category"];
				$(".three_nav a").eq(2).html(category).attr('href','details.html?categoryId='+categoryid);
			}
		});

		//发起一次ajax请求，获取当前初始渲染首页
		$.ajax({
			type: "get",
			url: "http://mmb.ittun.com/api/getproductlist?categoryid=" + categoryid,
			// url: "http://192.168.50.130:8002/api/getproductlist?categoryid=" + categoryid,
			dataType:'json',
			success:function(data){
				// console.log(data);
				var str=template('list_items',{item:data.result});
				$('.wares_warp').html(str);
				//计算页面总数，动态渲染渲染页面选择模块
				var pageSum = Math.ceil(data.totalCount/data.pagesize);
				var str='';
				for(var i = 1;i<=pageSum;i++){
					str+='<option value ="'+i+'">'+i+'/'+pageSum+'</option>';
				}
				$('.pulldown').html(str);
				$('.pulldown option').eq(0).prop('selected',true);
			},
			error:function(){
				$('.wares_warp').html('sorry，加载错误！');
			}
		});

		//注册点击事件
		$('.next').on('click',function(){
			var pageSum = $('.pulldown option').length;
			var selNum = $('.pulldown option:selected').index();
			if(++selNum>pageSum-1){
				selNum = pageSum-1;
				$('.popTip').html('亲，已经是最后一页了哦!').stop(true,true).fadeIn(500).fadeOut(700);
				return;
			}
			$('.pulldown option').eq(selNum).prop('selected',true).siblings().prop('selected',false);
			//发起一次ajax请求，获取当前初始渲染首页
			getproductlist(categoryid,selNum);

		});

		$('.previous').on('click',function(){
			var selNum = $('.pulldown option:selected').index();
			if(--selNum<0){
				selNum = 0;
				$('.popTip').html('亲，已经是第一页了哦!').stop(true,true).fadeIn(500).fadeOut(700);
				return;
			}
			$('.pulldown option').eq(selNum).prop('selected',true).siblings().prop('selected',false);
			//发起一次ajax请求，获取当前初始渲染首页
			getproductlist(categoryid,selNum);
		});

		//更换页码时，刷新页面
		$('.pulldown').on('change',function(){
			var selNum = $('.pulldown option:selected').index();

			//发起一次ajax请求，获取当前初始渲染首页
			getproductlist(categoryid,selNum);
		});

		function getproductlist(categoryid,pageid){
			$.ajax({
				type: "get",
				url: "http://mmb.ittun.com/api/getproductlist?categoryid=" + categoryid + "&pageid=" + (pageid+1),
				// url: "http://192.168.50.130:8002/api/getproductlist?categoryid=" + categoryid + "&pageid=" + (pageid+1),
				dataType:'json',
				success:function(data){
					// console.log(data);
					var str=template('list_items',{item:data.result});
					$('.wares_warp').html(str);
				},
				error:function(){
					$('.wares_warp').html('sorry，加载错误！');
				}
			});
		}
	})
</script>
</body>
</html>